.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  padding-left: 64px;
  padding-right: 64px; 
  margin-top: 32px;
  margin-bottom: 32px;
}

.main__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__content {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.main h1,h2 {
   margin: 0;
} 

.main__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}