.sidebar {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111518;
  width: 64px;
  height: 100vh; 
  position: fixed;
  z-index: 99;
}

@media (max-width: 520px) {
  .sidebar {
    position: absolute;
    left: -64px;
  }

  .sidebar .languageSelector {
    display: none;
  }
}