.order-page {  
  width: 100%;  
  display: flex;
  flex-direction: column;  
}

.order-page h1 {
  margin: 0;
}

.order-page .header {
  width: 100%;  
  padding: 32px 64px; 
  box-sizing: border-box;
  border-bottom: solid 1px #EEEEEE;
}   

.steps-body {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: 100%;
}

.step-body {
  width: 85%;
}