.order-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 64px;
  box-sizing: border-box;
}

.order-page h1 {
  margin: 0;
}

.order-page .header {
  background-color: white;
  position: fixed;
  padding: 32px 64px;
  padding-right: 128px;
  box-sizing: border-box;
}

.steps-body {
  margin-top: 135px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

@media (max-width: 520px) {
  .order-page {
    top:0;
    padding-left: 0;
  }

  .order-page .header {
    padding: 16px;
    margin-top: 0;
  }
}

@media (max-width: 1140px) {
  .steps-body {
    flex-direction: column;
  }
}
