.steps-menu {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 8px 64px;
  margin-top: 95px;
  border-top: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
  background-color: white;
  z-index: 98;
}

.steps-menu li {
  cursor: default;
  display: inline;
  margin-right: 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  margin-right: 11px;
}

.steps-menu li:first-child {
  margin-left: 0;
}

.steps-menu li::after {
  display: inline-block;
  content: "";
  border: 4px solid transparent;
  border-left: 6px solid #999999;
  margin-left: 16px;
}

.steps-menu li:last-child::after {
  display: none;
}

.steps-menu li.active {
  cursor: pointer;
  color: #121212;
}

.steps-menu li.current {
  cursor: pointer;
  color: #0ec261;
}

.steps-menu li.active:hover {
  color: #0ec261;
}

.menu-order-number {
  position: fixed;
  width: 100%;
  margin-top: 100px;
  padding: 8px 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
  border-top: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
  background-color: white;
  text-align: center;
}

@media ( max-width:510px )
{
  .steps-menu {
    padding: 8px 32px;
  }

  .menu-order-number {
    margin-top: 95px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media ( max-width: 499px )
{
  .steps-menu {
    padding: 8px 32px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
  }
}


@media ( max-width:1140px )
{
  .steps-menu {
    white-space: nowrap;
    padding-right: 0px;
  }
}
