body {
  margin: 0;
  min-height: 100vh;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  

.unselectable {
  -webkit-touch-callout: none;  
  -webkit-user-select: none;    
  -khtml-user-select: none;     
  -moz-user-select: none;       
  -ms-user-select: none;        
  user-select: none;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300; 
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype"); 
  font-weight: bold;
}
