.slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
  box-sizing: border-box;  
  background-position: center center;
  background-size: cover; 
}

.slider h1,h3 {
  margin: 0;
}

.slider__content {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 32px;
  margin-right: 32px;
}

.slider__content_item {
  margin-top: auto;
  margin-bottom: auto;
} 

.slider__content_item h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px; 
  color: #FFFFFF;
  margin-bottom: 8px;
}

.slider__content_item h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #EEEEEE;
  margin-bottom: 32px;
}

.slider__arrow {
  cursor: pointer;
  height: 100vh;
  width: 64px;
  border-style: none;
  outline: none; 
  background: none;
} 

.slider__arrow-icon {
  stroke: #EEEEEE;  
}

.slider__arrow:hover {
  background: rgba(14, 194, 97, 0.2);  
} 

.slider__button-1 {
  cursor: pointer;
  width: 164px;
  height: 48px;
  background: linear-gradient(90deg, #13493F 0%, #0C7B1B 100%);
  border-radius: 4px;
  border-style: none;
  outline: none; 
  color: #EEEEEE;
}

.slider__button-1:hover { 
  background: linear-gradient(90deg, #003026 2.61%, #006202 112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
}

.slider__button-1:active{ 
  background: linear-gradient(90deg, #00160C 2.61%, #004800  112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
} 

.slider__button-2 {
  cursor: pointer;
  width: 164px;
  height: 48px;
  background: linear-gradient(90deg, #132949 0%, #0C7B67 100%);
  border-radius: 4px;
  border-style: none;
  outline: none; 
  color: #EEEEEE;
}

.slider__button-2:hover { 
  background: linear-gradient(90deg, #001030 2.61%, #00624E 112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
}

.slider__button-2:active{ 
  background: linear-gradient(90deg, #000016 2.61%, #004834  112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
} 

.slider__button-3 {
  cursor: pointer;
  width: 164px;
  height: 48px;
  background: linear-gradient(90deg, #493013 0%, #7B0C3B 100%);
  border-radius: 4px;
  border-style: none;
  outline: none; 
  color: #EEEEEE;
}

.slider__button-3:hover { 
  background: linear-gradient(90deg, #301700 2.61%, #620022 112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
}

.slider__button-3:active{ 
  background: linear-gradient(90deg, #160000 2.61%, #480008  112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
} 

.slider__button-4 {
  cursor: pointer;
  width: 164px;
  height: 48px;
  background: linear-gradient(90deg, #281349 0%, #720C7B 100%);
  border-radius: 4px;
  border-style: none;
  outline: none; 
  color: #EEEEEE;
}

.slider__button-4:hover { 
  background: linear-gradient(90deg, #0F0030 2.61%, #590062 112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
}

.slider__button-4:active{ 
  background: linear-gradient(90deg, #000016 2.61%, #3F0048  112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
} 

.slider__dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.slider__dot {
  cursor: pointer;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #EEEEEE;
  margin-right: 4px;
  margin-left: 4px;
}

.slider__dot_active {
  cursor: pointer;
  width: 8px;
  height: 8px;
  border-radius: 50%; 
  background: #0EC261;
  margin-right: 4px;
  margin-left: 4px;
}

@media (max-width: 1220px) {
  .slider {
    display: none;
  }
}

