.slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: black; 
}

.slide {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-animation-enter {
  opacity: 0.5;
}
.slide-animation-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in-out;
}
.slide-animation-exit {
  opacity: 0.5;
}
.slide-animation-exit-active {
  opacity: 1;
  transition: opacity 600ms ease-in-out;
}

.slider h1,
h3 {
  margin: 0;
}

.slide__content {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 32px;
  margin-right: 32px;
}

.slide__content_item {
  margin-top: 240px;
  margin-bottom: auto;
}

.slide__content_item h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  margin-bottom: 8px;
}

.slide__content_item h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #eeeeee;
  margin-bottom: 32px;
}

.slide__arrow {
  cursor: pointer;
  height: 100vh;
  width: 64px;
  border-style: none;
  outline: none;
  background: none;
}

.slide__arrow-icon {
  stroke: #eeeeee;
}

.slide__arrow:hover {
  background: rgba(14, 194, 97, 0.2);
}

.slide__button-0 {
  cursor: pointer;
  width: 164px;
  height: 48px;
  background: linear-gradient(90deg, #13493f 0%, #0c7b1b 100%);
  border-radius: 4px;
  border-style: none;
  outline: none;
  color: #eeeeee;
}

.slide__button-0:hover {
  background: linear-gradient(90deg, #003026 2.61%, #006202 112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
}

.slide__button-0:active {
  background: linear-gradient(90deg, #00160c 2.61%, #004800 112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
}

.slide__button-1 {
  cursor: pointer;
  width: 164px;
  height: 48px;
  background: linear-gradient(90deg, #132949 0%, #0c7b67 100%);
  border-radius: 4px;
  border-style: none;
  outline: none;
  color: #eeeeee;
}

.slide__button-1:hover {
  background: linear-gradient(90deg, #001030 2.61%, #00624e 112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
}

.slide__button-1:active {
  background: linear-gradient(90deg, #000016 2.61%, #004834 112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
}

.slide__button-2 {
  cursor: pointer;
  width: 164px;
  height: 48px;
  background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
  border-radius: 4px;
  border-style: none;
  outline: none;
  color: #eeeeee;
}

.slide__button-2:hover {
  background: linear-gradient(90deg, #301700 2.61%, #620022 112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
}

.slide__button-2:active {
  background: linear-gradient(90deg, #160000 2.61%, #480008 112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
}

.slide__button-3 {
  cursor: pointer;
  width: 164px;
  height: 48px;
  background: linear-gradient(90deg, #281349 0%, #720c7b 100%);
  border-radius: 4px;
  border-style: none;
  outline: none;
  color: #eeeeee;
}

.slide__button-3:hover {
  background: linear-gradient(90deg, #0f0030 2.61%, #590062 112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
}

.slide__button-3:active {
  background: linear-gradient(90deg, #000016 2.61%, #3f0048 112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
}

.slide__dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.slide__dot {
  cursor: pointer;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #eeeeee;
  margin-right: 4px;
  margin-left: 4px;
}

.slide__dot_active {
  cursor: pointer;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #0ec261;
  margin-right: 4px;
  margin-left: 4px;
}

@media (max-width: 1220px) {
  .slider {
    display: none;
  }
}
