.adminButton {
  cursor: pointer;
  padding: 8px 20px;
  background: #007BFF;
  border: 0.5px solid #007BFF;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  color: white;
  font-size: 11.5px;
  line-height: 13px;
}