.modal {
  position: fixed; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  z-index: 100;
  visibility: hidden;
} 

.modal.visible {    
  visibility: visible;
}

.confirm-order {   
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 100%;  
  width: 100%;   
  margin-top: -40px;  
}

.confirm-order h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px; 
  text-align: center; 
  color: #121212;
  margin-bottom: 32px;
}

.confirm-order .button {
  width: 177px;
  height: 48px;
  margin-left: 8px;
  margin-right: 8px;
}

.confirm-order .button.red {
  background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
  background-blend-mode: darken;
}

.confirm-order .button.red:hover {
  background: linear-gradient(90deg, #301700 2.61%, #620022 112.6%);
  background-blend-mode: darken;
}

.confirm-order .button.red:active {
  background: linear-gradient(90deg, #160000 2.61%, #480008 112.6%);
  background-blend-mode: darken;
}